# EDA and Data Cleaning

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Display Preference
pd.set_option('display.max_columns', None)

## Read in data

In [2]:
google = pd.read_csv('../data/clean_google_data_nyc.csv')
income = pd.read_csv('../data/clean_income_by_zip_nyc.csv')

In [3]:
google.head()

,city,state,zipcode,id,name,open_now,place_id,price_level,rating,reference,user_ratings_total,searched_keyword,searched_zipcode,location_lat,location_lng,compound_code,global_code,art_gallery,atm,bakery,bar,beauty_salon,bicycle_store,book_store,cafe,car_dealer,car_repair,clothing_store,convenience_store,department_store,doctor,drugstore,electronics_store,establishment,finance,florist,food,funeral_home,furniture_store,gas_station,general_contractor,grocery_or_supermarket,hair_care,hardware_store,health,home_goods_store,jewelry_store,laundry,liquor_store,local_government_office,locksmith,lodging,meal_delivery,meal_takeaway,movie_rental,night_club,painter,park,parking,pet_store,pharmacy,point_of_interest,post_office,premise,restaurant,school,shoe_store,shopping_mall,spa,storage,store,supermarket,tourist_attraction,travel_agency
0,New York,NY,10001,cab18c9c7ea5cf2330fdf146a7cbfe9a3ab03d6d,Sprint Store,False,ChIJCV0vTalZwokR61PIDIe0gI0,2.0,3.4,ChIJCV0vTalZwokR61PIDIe0gI0,273,stores,10001,40.750269,-73.989655,Q226+44 New York,87G8Q226+44,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
1,New York,NY,10001,e386d17b32833d39a246d0f8ed3df43ed5f27252,Duane Reade,True,ChIJJwQ3561ZwokRuYknT0uxER8,2.0,3.9,ChIJJwQ3561ZwokRuYknT0uxER8,50,stores,10001,40.751744,-73.993482,Q224+MJ New York,87G8Q224+MJ,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
2,New York,NY,10001,e04114820206890ff0155d2f7a6f7efc0903fb9b,Macy's,True,ChIJ3xjWra5ZwokRrwJ0KZ4yKNs,2.0,4.4,ChIJ3xjWra5ZwokRrwJ0KZ4yKNs,50800,stores,10001,40.750802,-73.989483,Q226+86 New York,87G8Q226+86,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0
3,New York,NY,10001,76f93a3e6a81e29c91d14ceb783366beedf1c63e,CVS,True,ChIJhbi9_npZwokR0rqh_uP6s1U,NaN,3.8,ChIJhbi9_npZwokR0rqh_uP6s1U,45,stores,10001,40.751921,-73.994068,Q224+Q9 New York,87G8Q224+Q9,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
4,New York,NY,10001,3b2cbe32c41a5633864a49f9730d1c1388cbc37a,B&H Photo Video - Electronics and Camera Store,True,ChIJI93dPbJZwokRIoOEoivEDQs,NaN,4.6,ChIJI93dPbJZwokRIoOEoivEDQs,22644,stores,10001,40.752945,-73.996337,Q233+5F New York,87G8Q233+5F,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0

In [4]:
income.head()

,zipcode,median_household_income,median_household_income_margin_of_error,per_capita_income,per_capita_income_margin_of_error,population,population_density,housing_units,median_home_value,home_price_to_income_ratios
0,10001,88526.0,8060.0,84765.0,8375.0,22924,37306.6,14141,343400.0,3.879086
1,10002,35859.0,2149.0,32694.0,1602.0,74993,85369.8,35724,665200.0,18.550434
2,10003,112131.0,13190.0,92781.0,5662.0,54682,94859.6,30876,1001200.0,8.928842
3,10004,157645.0,17195.0,122165.0,18985.0,3028,5622.9,2139,1640600.0,10.406927
4,10005,173333.0,33390.0,106702.0,12006.0,8831,121496.4,5585,1415400.0,8.165785

In [5]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 10 columns):
zipcode                                    167 non-null int64
median_household_income                    167 non-null float64
median_household_income_margin_of_error    166 non-null float64
per_capita_income                          167 non-null float64
per_capita_income_margin_of_error          167 non-null float64
population                                 167 non-null int64
population_density                         167 non-null float64
housing_units                              167 non-null int64
median_home_value                          167 non-null float64
home_price_to_income_ratios                167 non-null float64
dtypes: float64(7), int64(3)
memory usage: 13.2 KB

In [6]:
# make sure all zipcode in the 'income' dataset is unique 
assert len(set(income['zipcode'])) == len(income['zipcode'])

In [7]:
df = pd.merge(google, income, left_on='searched_zipcode', right_on='zipcode')

In [8]:
google.shape

(9889, 74)

In [9]:
df.shape

(9889, 84)